.thumb1__img {
    width: 320px;
    height: 180px;
    background-image: url(assets/img/nothing-changed.jpg);
}

.thumb1__img:hover {
    background-image: url(assets/img/nothing-changed2.jpg);
    cursor: pointer;
}

.thumb2__img {
    width: 320px;
    height: 180px;
    background-image: url(/assets/img/jimmy-cooks.jpg);
}

.thumb2__img:hover {
    background-image: url(/assets/img/jimmy-cooks2.jpg);
    cursor: pointer;
}

.search__bar {
    display: block;
    
}

.video-preview {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 30px;
}

.video-paragraph1 {
    width: 300px;
}

.video-paragraph2, .video-paragraph3 {
    display: block;
}