@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #2A2B2A;
    --primary-color-darker: #706C61;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.h1 {
    margin-bottom: 50px;
    text-align: center;
}

#segundo {
    margin-top: 55px;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #F8F4E3;
    padding: 20px;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    border-radius: 5px 20px;
}
.colunas {
    background-color: #2A2B2A;
    color: white;
    border-radius: 5px 20px;
    box-shadow: -1px 2px 11px 3px rgba(0,0,0,0.73);
    font-size: 0.9em;
    margin: 50px;
}

.coluna1, .coluna2 {
    line-height: 20px;
    display: inline-block;
}

.coluna1 {
    margin-left: 60px;
}

.coluna2 {
    float: right;
    margin-right: 60px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color)
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background: rgba(109, 255, 182, 0.39);
    padding: 10px 20px;
    color: black;
}

.bad {
    background: rgb(255, 150, 150)
}