.thumb1__img {
    width: 320px;
    height: 180px;
    background-image: url(/assets/thumbnails/thumb1.jpg);
}

.thumb1__img:hover {
    background-image: url(/assets/thumbnails/thumb1-hover.jpg);
    cursor: pointer;
}

.thumb2__img {
    width: 320px;
    height: 180px;
    background-image: url(/assets/thumbnails/thumb2.jpg);
}

.thumb2__img:hover {
    background-image: url(/assets/thumbnails/thumb2-hover.jpg);
    cursor: pointer;
}