.video-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width:750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:530px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

.video-time {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: #FFF;
    position: absolute;
    right: 10px;
    bottom: 12px;
}